---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="row">
    {% assign category = page.permalink | remove: "/" %}
    {% for post in site.posts %}
      {% if post.categories contains category %}
        {% assign imgNameStart = post.id | remove: post.dir | remove: "/" %}
        {% assign imgBasePath = "/images/" | append: imgNameStart | append: "/" | append: imgNameStart | append: "-1" %}
        <div class="col-md-4 portfolio-item">
            <a href="{{ post.url | prepend: site.baseurl }}">
              {% for img in site.static_files %}
                {% if img.path contains imgBasePath %}
                  <img src="{{ site.baseurl }}{{ img.path }}">
                {% endif %}
              {% endfor %}
            </a>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>


<!-- Projects Row -->
