---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {% assign imgDir = page.id | remove: page.dir | remove: "/" %}
    {% assign imgBasePath = imgDir + imgNameStart | prepend: "/images/" %}
    <ul class="pgwSlideshow">
      {% for img in site.static_files %}
        {% if img.path contains imgBasePath %}
          <li><img src="{{ site.baseurl }}{{ img.path }}"></li>
        {% endif %}
      {% endfor %}
    </ul>
    {% for img in site.static_files %}
      {% if img.path contains imgBasePath %}
        {% assign id = img.path | split: "/" | last | split: "." | first | append: "-modal" %}
        <div id="{{ id }}" style="display: none;">
          <img class='modal-image' src="{{ site.baseurl }}{{ img.path }}">
        </div>
      {% endif %}
    {% endfor %}
    {% for detail in page.details %}
      <h4>{{ detail[0] | capitalize }}: {{ detail[1] }}</h4>
    {% endfor %}
    {{ content }}
  </article>


</div>
